@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

body{
	-ms-overflow-style: scrollbar;
    background: linear-gradient(to bottom, #275adc, #000000);
}

hr{}

h1{
	font-family: 'Bungee', cursive;
	text-shadow:
   	-2px -2px 0 #212529,  
    4px -2px 0 #212529,
    -2px 2px 0 #212529,
    2px 2px 0 #212529;
}

h5{
	font-family: 'Montserrat', sans-serif;
	text-shadow:
	1px -1px 0 #000,  
    3px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h6{
	font-family: 'Lexend Mega', sans-serif;
}

figure{
    border-color: transparent;
    background-color: transparent;
    position: relative;
}

#email-link:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
#email-link:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
#email-link:hover {
  color: silver;
  background-color: transparent;
  text-decoration: underline;
}
#email-link:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}


#portrait-img{
	width: 15%;
}

#vimeo-icon{
	color: /*#1d49c3*/white;
}

#section-hero{
	background-image: url("/static/images/hero_bg.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 80vh;
}

#title-text {
	text-shadow:
   	-1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
}
 /* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 80px;
  right: 45px;
  font-size: 80px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
} 
