<!DOCTYPE HTML>
<html>
	<head>
		<title>Derek Henriquez</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<link rel="stylesheet" href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css" />
		<link rel="shortcut icon" type="image/jpg" href="/static/images/logo_favi.png"/>
	</head>

	<body>
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<div id="logo">
					<a class="navbar-brand" href="{{  url_for('hello_world') }}">
						<img class="img-fluid align-middle ms-1" src="static/images/derek_logo.png" alt="Logo picture">
					</a>
				</div>
				
				<div id="vimeo_profile">	
					<a class="navbar-item me-3" href="https://vimeo.com/derekhenriquez">
						<i class="fa fa-vimeo-square fa-2x" aria-hidden="true" id="vimeo-icon"></i>
					</a>
				</div>
				

				<!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      				<span class="navbar-toggler-icon"></span>
    			</button>

    			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			      <div class="navbar-nav">
			        <a class="nav-link active" aria-current="page" href="#">Home</a>
			        <a class="nav-link" href="#">Features</a>
			        <a class="nav-link" href="#">Pricing</a>
			        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
			      </div>
			    </div> -->
		
			</div>
		</nav>

		<!-- Bio section -->
		<section id="section-hero" class="text-center text-white d-flex jusitfy-content-center align-items-center mt-2">
			<div class="container mt-5 pt-3">
				<figure class="figure text-center mt-3" id="portrait-img">
					<img class="figure-img img-fluid border border-light border-3 rounded-3" src="static/images/portrait.png" alt="portrait image">
				</figure>
				<div>
					<h5 class="text-white">Professional A/V Editor<br><br><a href = "mailto: derek.henriquez99@gmail.com" id="email-link">derek.henriquez99@gmail.com</a></h5>
				</div>
			</div>
		</section>

		<!-- Content break -->
		<hr style="height:50px; background-color:#212529; opacity: 1.0;padding: 0px;
    	margin: 0px;" /> 

    	<!-- Gallery heading -->
		<section id="section-work" class="text-center text-white d-flex jusitfy-content-center align-items-center">
			<div class="container mt-2">
				<h1 class ="display-1 text-uppercase">Latest Work</h1>
			</div>
		</section>

		 <!-- The overlay for videos -->
		<div id="myNav" class="overlay">

			<!-- Button to close the overlay navigation -->
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

			<!-- Overlay content -->
			<div id="Vimeo_Player"></div>
				<script src="https://player.vimeo.com/api/player.js"></script>
		</div>

		<!-- Gallery tiles created from loop -->
		<section id="section-gallery">
			<div class="container mt-2">
				  <div class="row row-cols-3">
				  	{% for result in main_result %}
				    <div class="col-12 col-md-6 col-xl-4">
				    	<!-- Use any element to open/show the overlay navigation menu -->
						<span onclick="openNav()">
							<figure class="figure text-center">
								<img class="figure-img img-fluid border border-dark border-3 rounded-3" src="{{thumbnail_list[loop.index0]}}" alt="Portfolio Item Heading">

								<div class="font-monospace fw-bolder text-uppercase text-light " id="title-text">
									<h6>{{ result.name }}</h6>
								</div>
							</figure>
							<script src="{url}"></script>
							  <script>
							    var options01 = {
							      url:( {{ result.link }} )
							  	};

							    var video01Player = new Vimeo.Player('{{result.name}}', options01);

							    video01Player.setVolume(100);

							    video01Player.on('play', function() {
							      console.log('Played the first video');
							    });
							  </script>
						</span>
					</div>
					{% endfor %}
				  </div>
			</div>
		</section>

		<!-- Footer -->
		<footer class="bg-dark py-1">
			<div class="container">
				<p class="text-center text-white mb-0">&copy; Derek Henriquez 2021. All Rights Reserved. Designed by 141 Wonders.</p>
			</div>
		</footer>

		<!-- Scripts -->
			<script src="/static/js/bootstrap.bundle.min.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>